#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

(
  default_album_art_path: None,
  show_song_table_header: true,
  draw_borders: false,
  border_type: Rounded,
  symbols: (song: "🎵", dir: "📁", marker: "\u{e0b0}"),
  current_item_style: (fg: "black", bg: "#EE999F", modifiers: "Bold"),
  highlighted_item_style: (fg: "#c6a0f6", modifiers: "Bold"),
  borders_style: (fg: "#6e738d"),
  highlight_border_style: (fg: "#b7bdf8"),
  progress_bar: (
    symbols: ["", "⭘", " "],
    track_style: (fg: None),
    elapsed_style: (fg: "#EE999F", bg: None),
    thumb_style: (fg: "#EE999F", bg: None),
    hide_on_unscrollable: true,
  ),
  cava: (
    bg_color: None,
    bar_symbols: [' ', '▂', '▃', '▄', '▅', '▆', '▇', '█'],
    bar_width: 2,
    bar_spacing: 1,
    orientation: Bottom,
    bar_color: Gradient({
      0: "#b7bdf8",
      30: "#cad3f5",
      60: "#f0c6c6",
      100: "#c6a0f6",
    }),
  ),
  lyrics: (
    highlighted_item_style: (fg: "#BE869A", modifiers: "Bold"),
    all_items_style: (fg: "#6e738d"),
  ),
  scrollbar: (
    symbols: ["│", "█", "▲", "▼"],
    track_style: (fg: "#6e738d"),
    thumb_style: (fg: "#BE869D"),
    ends_style: (fg: "#BFE3EA"),
  ),
  text_color: Some("#6e738d"),
  browser_column_widths: [20, 38, 42],
  background_color: Some("#00000f"),
  browser_song_format: [
  (
      kind: Group([
      (kind: Property(Track)),
      (kind: Text(" ")),
      ])
    ),
  (
      kind: Group([
      (kind: Property(Title)),
      (kind: Text(" - ")),
      (kind: Property(Artist)),
      ]),
      default: (kind: Property(Filename))
    ),
  ],
  header: (
    rows: [
    (
        left: [
        (kind: Text("["), style: (modifiers: "Bold")),
        (kind: Property(Status(State)), style:(fg: "#BE869D",  modifiers: "Bold")),
        (kind: Text("]"), style:(modifiers: "Bold"))
        ],
        center: [
        (kind: Text("󰣐   "), style:(fg: "#BE869D", modifiers: "Bold")),
        (kind: Property(Song(Title)), style: (modifiers: "Bold"),
            default: (kind: Text("No Song"), style: (modifiers: "Bold"))
          ),
        (kind: Text("   "), style: (fg: "#BE869D",modifiers: "Bold"))
        ],
        right: [
        (kind: Property(Widget(Volume)), style: (fg: "#BE869D"))
        ]
      ),
    (
        left: [
        (kind: Text("[")),
        (kind: Property(Status(Elapsed))),
        (kind: Text(" / ")),
        (kind: Property(Status(Duration))),
        (kind: Text("]"))
        ],
        center: [
        (kind: Property(Song(Artist)), style:(fg: "#BE869D", modifiers: "Bold"),
            default: (kind: Text("Unknown"), style: (fg: "#BE869D", modifiers: "Bold"))
          ),
        (kind: Text(" - ")),
        (kind: Property(Song(Album)),
            default: (kind: Text("Unknown Album"))
          )
        ],
        right: [
        (kind: Text("Bitrate: ")),
        (kind: Property(Status(Bitrate))),
        (kind: Text(" (kbps)")),
        ],
      ),
    ],
  ),
  layout: Split(
    direction: Horizontal,
    panes: [
    (size: "3", pane: Pane(Empty())),
    (
        size: "100%",
        pane: Split(
          direction: Vertical,
          panes: [
          (pane: Pane(Empty()), size: "1"),
          (pane: Pane(Header), size: "3"),
          (pane: Pane(Tabs), borders: "TOP", size: "0"),
          (pane: Pane(TabContent), size: "100%"),
          (pane: Pane(Empty()), size: "1"),
          (
              size: "2",
              pane: Split(
                direction: Horizontal,
                borders: "NONE",
                panes: [
                (size: "3%", pane: Pane(Empty())),
                (size: "97%", pane: Pane(ProgressBar)),
                (size: "2%", pane: Pane(Empty())),
                ],
              ),
            ),
          ],
        ),
      ),
    (size: "2", pane: Pane(Empty())),
    ],
  ),
  tab_bar: (
    enabled: false,
    active_style: (fg: "black", bg: "#c6a0f6", modifiers: "Bold"),
    inactive_style: (),
  ),
  song_table_format: [
  (
      prop: (
        kind: Property(Artist), style: (fg: "#BE869D"),
        default: (kind: Text("Unknown")),
      ),
      width_percent: 49,
      alignment: Right,
    ),
  (
      prop: (
        kind: Text(" - "),
        default: (kind: Text("Unknown"))
      ),
      width_percent: 1,
      alignment: Center,
    ),
  (
      prop: (
        kind: Property(Title),
        default: (kind: Text("Unknown")),
      ),
      width_percent: 50,
    ),
  ],
)
